# VS Code
.vscode/

# allow sharing build tasks
!.vscode/tasks.json

# Virtual env + python cache
.venv/
__pycache__/
*.pyc

# Local dumps / temp files
project_dump.txt
files_list.txt
*.log

# build output
site/
data/