{% extends "base.html" %}
{% block content %}

{{ breadcrumbs | safe }}
<h1>{{ category_name }}</h1>

{{ parent | safe }}

<h3>{{ t('subcategories') }}</h3>
{{ subcategories | safe }}

<h3>{{ t('spells_in_category') }}</h3>
{{ spells | safe }}

<p><a href="{{ lang_root('/categories/index.html') }}">&#8592; {{ t('back_to_categories')|replace('← ', '') }}</a></p>
<p><a href="{{ lang_root('/index.html') }}">&#8592; {{ t('back_to_manuscripts')|replace('← ', '') }}</a></p>

{% endblock %}