{{ breadcrumbs }}
<h2>{{ title_english }}</h2>
<h3>Categories:</h3>
{{ categories }}

<p><strong>Syriac:</strong> {{ title_syriac }}</p>
<p><strong>Translation:</strong> {{ translation }}</p>
<p><strong>Manuscript:</strong>
    <a href="../manuscripts/{{ manuscript_id }}.html">
      {{ manuscript_siglum }}
    </a>
</p>
<p><strong>Page:</strong> {{ page }}</p>
<p><strong>Scribe:</strong> {{ scribe }}</p>
<p>
  <a href="../manuscripts/{{ manuscript_id }}.html">
    ← Back to this manuscript
  </a>
</p>
<p>
    <a href="../index.html">
      ← Back to manuscripts
    </a>
</p>